<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="ContactService" class="home.skilllsUp.contactService.service.Impl.ContactServiceImpl">
              <property name="contactDao" ref="contactDao"/>
              <property name="hobbyDao" ref="hobbyDao"/>
              <property name="messageDao" ref="messageDao"/>
              <property name="placeDao" ref="placeDao"/>
       </bean>

       <bean id="hobbyDao" class="home.skilllsUp.contactService.dao.Impl.HobbyDaoImpl"/>
       <bean id="contactDao" class="home.skilllsUp.contactService.dao.Impl.ContactDaoImpl"/>
       <bean id="messageDao" class="home.skilllsUp.contactService.dao.Impl.MessageDaoImpl"/>
       <bean id="placeDao" class="home.skilllsUp.contactService.dao.Impl.PlaceDaoImpl"/>

       <bean id="contact1" class="home.skilllsUp.contactService.model.Contact">
              <property name="firstName" value="Sasha"/>
              <property name="birthDate" ref="date"/>
              <property name="lastName" value="Stukalo"/>
       </bean>
       <bean id="contact2" class="home.skilllsUp.contactService.model.Contact">
              <property name="firstName" value="Luba"/>
              <property name="lastName" value="Fedorchak"/>
              <property name="birthDate" ref="date"/>
       </bean>
       <bean id="Dnepropetrovsk" class="home.skilllsUp.contactService.model.Place">
              <property name="title" value="Dnepropetrovsk"/>
              <property name="latitude" value="48.27"/>
              <property name="longitude" value="35.1"/>
       </bean>
       <bean id="date" class="java.time.LocalDate" factory-method="of">
              <constructor-arg index="0" value="2015" />
              <constructor-arg index="1" value="01" />
              <constructor-arg index="2" value="01" />
       </bean>
       <bean id="hobby" class="home.skilllsUp.contactService.model.Hobby">
              <property name="title" value="basketball"/>
              <property name="description" value="the best game in whole World"/>
       </bean>
       <bean id="message" class="home.skilllsUp.contactService.model.Message">
              <property name="from" ref="contact1"/>
              <property name="to" ref="contact2"/>
              <property name="content" value="Hello!"/>
              <property name="date" ref="date"/>
       </bean>

</beans>